/*
	@theme ExpressionEngine2 Placeholder
	@placeholder ee22, html
*/


@base {
	color: #fff;
	background-color: #000;
}

.with-ee2 ee2.tag > name, 
.with-ee2 ee2.tag > punctuation,
.with-ee2 ee2.tag > string,
.with-ee2 ee2.tag.conditional { color: #b58900; }

.with-ee2 ee2.tag attribute-name  {
	color: #6c71c4;
	font-weight: bold; 
}
.with-ee2 ee2.tag attribute { 
	color: #d33682;
}

.with-ee2 ee2.tag.self-closing.conditional {
	background-color: #073642;
}

.with-ee2 ee2.tag.self-closing,
.with-ee2 ee2.tag.self-closing > name, 
.with-ee2 ee2.tag.self-closing > punctuation, 
.with-ee2 ee2.tag.self-closing attribute-name { color: #859900;}

