/*
	@theme ExpressionEngine2 Placeholder
	@placeholder ee22, html
*/


@base {
	color: #fff;
	background-color: #000;
}

.with-ee2 ee2.tag > name, 
.with-ee2 ee2.tag > punctuation,
.with-ee2 ee2.tag > string,
.with-ee2 ee2.tag.conditional { color:#8ce999; }

.with-ee2 ee2.tag attribute-name  {
	color:#9ecffd;
	font-weight:bold; 
}
.with-ee2 ee2.tag attribute { 
	color:#d144ca;
}

.with-ee2 ee2.tag.self-closing.conditional { background:rgba(37,59,118,0.35);}

.with-ee2 ee2.tag.self-closing,
.with-ee2 ee2.tag.self-closing > name, 
.with-ee2 ee2.tag.self-closing > punctuation, 
.with-ee2 ee2.tag.self-closing attribute-name { color:#9ecffd;}

