/*
	@theme ExpressionEngine2 Placeholder
	@placeholder ee2
*/

ee2 {
	spell-check: disabled;
}

ee2.punctuation, ee2.operator {
	color: #865fdb;
}

ee2.entity.name  {
	color: #6700b9;
	background-color: #f9f4ff;
}

ee2.attribute-name {
	color: #4e279a;
}

ee2.attribute-value {
	color: #bc670f;
}
